@font-face {
    font-family:"Bangersfont" ;
    src: url(../fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: "ALK Rounded Mtav Med";
    src: url(../fonts/alk-rounded-mtav-med-webfont.ttf);
}

@font-face {
    font-family: "logo_Font";
    src: url(../fonts/dm-zviadi.ttf);
}